.mwr-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
}
.mwr-nav-list {
    padding: 0 20px;
    margin: 0;
}
.mwr-nav-item {
    padding-top: 5px;
    margin-right: 4rem;
    display: inline-block;
    list-style: none;
    font-size: 22px;
}
.mwr-nav-item > a {
    color: #6c757d;
}
.mwr-nav-item.active > a {
    color: #007bff;
}
.mwr-nav-item:last-child {
    margin-right: 0;
}