.create.set {
    width: 100%;
}
.create.set > .inline {
    height: 50px;
    display: inline-block;
}
.create.set > .inline > .inline {
    display: inline-block;
    margin-right: 10px;
}
.create.set .left {
    width: 30%;
    float: left;
}
.create.set .right {
    width: 70%;
    float: right;
}

.create.set .input {
    width: 35px;
    margin-right: 5px;
}

.remove.button {
    font-size: 0;
}
.remove.button:before {
    content: "X";
    font-size: 12px;
}


.exercise.routine,
.exercise.sets {
    padding: 0;
    list-style: none;
}
.exercise.name {
    margin: 5px 0;
}
.exercise.item {
    position: relative;
    padding-bottom: 15px;
}
.remove.exercise.set {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}
.remove.exercise.set:before {
    content: "X";
    font-size: 12px;
}