.create-main {
    background-color: #f5f5f5;
    padding-top: 70px;
}
.create-exercise-nav {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
}
.create-exercise-block-title {
    width: 100%;
    padding: 13px 10px 5px 10px;
}
.create-exercise-block-h {
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
    margin-bottom: 0 !important;
}
.create-header {
    padding: 10px 0 4px 7px;
}
.create-exercise-header {
    padding: 5px 0;
}
.disable-group {
    padding: 10px 0;
}
.label-checkbox {
    display: inline-block !important;
    vertical-align: middle;
    padding-right: .2rem;
}
.label-text {
    display: inline-block !important;
    vertical-align: middle;
    margin: 0;
}
.create-add-set-td {
    padding: 0 !important;
}
.create-add-set-btn {
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem !important;
}
.create-submit-btn {
    width: 100%;
}
.create-modal-btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 1rem !important;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
}
.weight-group {
    margin-bottom: 5px !important;
}
.weight-plate-group {
    width: 100%;
}
.create-item {
    margin-bottom: 10px;
}
.set-td {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}
.first-td {
    padding-left: 1rem !important;
}
.last-td {
    padding-right: 1rem !important;
}
.create-exercise-remove-btn {
    padding-right: 1rem !important;
}