html {
    font-size: 12px;
    background-color: #f5f5f5;
}

.hidden {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

fieldset {
    padding: 0;
}

.main {
    padding-top: 30px;
    background-color: #f5f5f5;
}
.text.align.center {
    text-align: center;
}
.text.align.left {
    text-align: left;
}
.text.align.right {
    text-align: right;
}

.vertical.align.middle {
    vertical-align: middle;
}

.text.ellipsis {
    display: inline-block;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no.margin {
    margin: 0;
}
.no.padding {
    padding: 0;
}
.display.inline.block {
    display: inline-block;
}


/* Bootstrap custom */
.card {
    border-radius: 1rem !important;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
}
.card-header {
    background-color: rgba( 0, 0, 0, 0 ) !important;
    border-bottom: 1px dashed rgba(0,0,0,.125) !important;
}