html {
    font-size: 12px;
}

.hidden {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

fieldset {
    padding: 0;
}

.main {
    padding-top: 30px;
}
.text.align.center {
    text-align: center;
}
.text.align.left {
    text-align: left;
}
.text.align.right {
    text-align: right;
}

.vertical.align.middle {
    vertical-align: middle;
}

.text.ellipsis {
    display: inline-block;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

